Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

⚗️ Add tests about backup file (#74)
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/Database/DatabaseTests/DatabaseWriteBackupTests.cs
  Readme.md
Due: none

Update dependencies
  PhotoManager/Directory.Packages.props
Due: none

⬆️ Update dependencies (#75)
  PhotoManager/Directory.Packages.props
Due: none

Set up Copilot and Claude Code Agents
  .claude/agents/code-reviewer.md
  .claude/commands/build.md
  .claude/commands/fix-issue.md
  .claude/commands/format.md
  .claude/commands/wpf.md
  .claude/settings.json
  .claude/skills/feature/SKILL.md
  .claude/skills/fix-bug/SKILL.md
  .claude/skills/perf/SKILL.md
  .claude/skills/refactor/SKILL.md
  .claude/skills/test/SKILL.md
  .claude/skills/wpf/SKILL.md
  .github/copilot-instructions.md
  .github/instructions/benchmarks.instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/wpf.instructions.md
  .github/prompts/build.prompt.md
  .github/prompts/feature.prompt.md
  .github/prompts/fix-bug.prompt.md
  .github/prompts/fix-issue.prompt.md
  .github/prompts/format.prompt.md
  .github/prompts/perf.prompt.md
  .github/prompts/refactor.prompt.md
  .github/prompts/test.prompt.md
  .github/prompts/wpf.prompt.md
  .github/skills/feature/SKILL.md
  .github/skills/fix-bug/SKILL.md
  .github/skills/perf/SKILL.md
  .github/skills/refactor/SKILL.md
  .github/skills/test/SKILL.md
  .github/skills/wpf/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

⚙️ Set up Copilot and Claude Code Agents (#76)
  .claude/agents/code-reviewer.md
  .claude/commands/build.md
  .claude/commands/fix-issue.md
  .claude/commands/format.md
  .claude/commands/wpf.md
  .claude/settings.json
  .claude/skills/feature/SKILL.md
  .claude/skills/fix-bug/SKILL.md
  .claude/skills/perf/SKILL.md
  .claude/skills/refactor/SKILL.md
  .claude/skills/test/SKILL.md
  .claude/skills/wpf/SKILL.md
  .github/copilot-instructions.md
  .github/instructions/benchmarks.instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/wpf.instructions.md
  .github/prompts/build.prompt.md
  .github/prompts/feature.prompt.md
  .github/prompts/fix-bug.prompt.md
  .github/prompts/fix-issue.prompt.md
  .github/prompts/format.prompt.md
  .github/prompts/perf.prompt.md
  .github/prompts/refactor.prompt.md
  .github/prompts/test.prompt.md
  .github/prompts/wpf.prompt.md
  .github/skills/feature/SKILL.md
  .github/skills/fix-bug/SKILL.md
  .github/skills/perf/SKILL.md
  .github/skills/refactor/SKILL.md
  .github/skills/test/SKILL.md
  .github/skills/wpf/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

Improve ImageHelper and VideoHelper
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ImageHelperIsImageFileBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/VideoHelperIsVideoFileBenchmarks.cs
  PhotoManager/PhotoManager.Common/ImageHelper.cs
  PhotoManager/PhotoManager.Common/VideoHelper.cs
  PhotoManager/PhotoManager.sln.DotSettings
Due: Common

Improve CalculateMD5Hash method + fix potential memory leaks in HashingHelper
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateMD5HashBenchmarks.cs
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
Due: Common

Improve CalculateHammingDistance method
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHammingDistanceBenchmarks.cs
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
Due: Common

Improve HashingHelper coverage
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: Common

Fix partial coverage in ExifHelper
  AGENTS.md
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Common/ExifHelper.cs
Due: Common

⚗️ Improve Common (#77)
  AGENTS.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHammingDistanceBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateMD5HashBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ImageHelperIsImageFileBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/VideoHelperIsVideoFileBenchmarks.cs
  PhotoManager/Directory.Build.props
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/ExifHelper.cs
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Common/ImageHelper.cs
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Common/VideoHelper.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.sln.DotSettings
Due: Common

Improve AboutInformation and Folder performances
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderIsParentOfBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderNameBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderThumbnailsFilenameBenchmarks.cs
  PhotoManager/PhotoManager.Domain/AboutInformation.cs
  PhotoManager/PhotoManager.Domain/Folder.cs
Due: Domain

Improve Folder coverage
  PhotoManager/PhotoManager.Tests/Unit/Domain/FolderTests.cs
Due: none

Rename ThumbnailsFilename to BlobFileName
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderBlobFileNameBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderThumbnailsFilenameBenchmarks.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Folder.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryContainsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsBlobFileExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/FolderTests.cs
Due: Domain, Infrastructure

Fix TODO in MoveAssetsService
  PhotoManager/PhotoManager.Domain/MoveAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowMoveAssetsTests.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI, Domain

Improve MoveAssetsService coverage
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
Due: none

Improve MoveAssetsService Copy method perfs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/MoveAssetsServiceCopyBenchmarks.cs
  PhotoManager/PhotoManager.Domain/MoveAssetsService.cs
Due: Domain

Update Dependencies
  PhotoManager/Directory.Packages.props
Due: none

⬆️ Update dependencies (#79)
  PhotoManager/Directory.Packages.props
Due: none

Improve ai config
  .claude/agents/code-reviewer.md
  .claude/settings.json
  .github/copilot-instructions.md
  .github/instructions/benchmarks.instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/wpf.instructions.md
  .github/skills/perf/SKILL.md
  .github/skills/test/SKILL.md
  .github/skills/wpf/SKILL.md
  AGENTS.md
Due: none

⚗️ Improve AI config (#80)
  .claude/agents/code-reviewer.md
  .claude/settings.json
  .github/copilot-instructions.md
  .github/instructions/benchmarks.instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/tests.instructions.md
  .github/instructions/wpf.instructions.md
  .github/skills/perf/SKILL.md
  .github/skills/test/SKILL.md
  .github/skills/wpf/SKILL.md
  AGENTS.md
Due: none

Improve CatalogAssetsService
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/ICatalogAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: Domain

Improve SyncAssetsService
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/SyncAssetsServiceGetFilesNotAlreadyBenchmarks.cs
  PhotoManager/PhotoManager.Domain/SyncAssetsService.cs
Due: Domain

Improve FindDuplicatedAssetsService
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FindDuplicatedAssetsServiceGetDuplicatedAssetsBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderIsParentOfBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/GlobalUsings.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/FileOperationsServiceBenchmarks.cs
  PhotoManager/PhotoManager.Domain/BkTree.cs
  PhotoManager/PhotoManager.Domain/FindDuplicatedAssetsService.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/BkTreeTests.cs
Due: Domain

Improve AssetsComparator
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetDeletedFileNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetImageAndVideoNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetNewFileNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetUpdatedFileNamesBenchmarks.cs
  PhotoManager/PhotoManager.Domain/AssetsComparator.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetsComparatorTests.cs
Due: Domain

Clean up
  PhotoManager/PhotoManager.Domain/AssetsComparator.cs
Due: Domain

Improve AssetCreationService
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperLoadBitmapOriginalImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ExifHelperGetExifOrientationBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ExifHelperIsValidGdiPlusImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Shared.cs
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/ExifHelper.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IImageProcessingService.cs
  PhotoManager/PhotoManager.Infrastructure/ImageProcessingService.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageProcessingServiceTests.cs
Due: Domain, Infrastructure, Common

Improve Comparers
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/DateTimeAssetComparerCompareBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/LongAssetComparerCompareBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/StringAssetComparerCompareBenchmarks.cs
  PhotoManager/PhotoManager.Domain/Comparers/DateTimeAssetComparer.cs
  PhotoManager/PhotoManager.Domain/Comparers/LongAssetComparer.cs
Due: Domain

Rework CancellationToken
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/ICatalogAssetsService.cs
  PhotoManager/PhotoManager.Tests/CatalogAssetsAsyncAsserts.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
  Readme.md
Due: UI, Application, Domain

Add missing test case
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
Due: none

✨ Rework CancellationToken (#81)
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/ICatalogAssetsService.cs
  PhotoManager/PhotoManager.Tests/CatalogAssetsAsyncAsserts.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
  Readme.md
Due: UI, Application, Domain

Improve CatalogAssetsService ReactiveUpdates
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
Due: Domain

Improve AssetRepository lookup performances
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/AssetRepositoryLookupBenchmarks.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
Due: Infrastructure

Improve CatalogAssetsService performances
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetCreationService.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
Due: Domain

⚗️Improve CatalogAssetsService performances (#82)
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/AssetRepositoryLookupBenchmarks.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetCreationService.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
Due: Domain, Infrastructure

Bump to 1.9.0
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

⬆️ Bump to 1.9.0 (#83)
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

Remove custom storage config
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderBlobFileNameBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/FileOperationsServiceBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/PathProviderServiceBenchmarks.cs
  PhotoManager/PhotoManager.Domain/Folder.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/StorageSettings.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/UserConfigurationKeys.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Persistence/GlobalUsings.cs
  PhotoManager/PhotoManager.Tests/ConfigurationMockExtensions.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/TestFiles/appsettings.json
  PhotoManager/PhotoManager.Tests/Unit/ConfigurationMockExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.UI/appsettings.json
  Readme.md
Due: UI, Domain, Infrastructure

Path conditions:
  UI: any of: PhotoManager/PhotoManager.UI/**
  Application: any of: PhotoManager/PhotoManager.Application/**
  Domain: any of: PhotoManager/PhotoManager.Domain/**
  Infrastructure: any of: PhotoManager/PhotoManager.Infrastructure/**
  Common: any of: PhotoManager/PhotoManager.Common/**
