Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false

coverage:
    precision: 2
    round: down
    range: "70..100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_ui
      name: UI
      paths:
        - PhotoManager/PhotoManager.UI/**
    - component_id: module_application
      name: Application
      paths:
        - PhotoManager/PhotoManager.Application/**
    - component_id: module_domain
      name: Domain
      paths:
        - PhotoManager/PhotoManager.Domain/**
    - component_id: module_infrastructure
      name: Infrastructure
      paths:
        - PhotoManager/PhotoManager.Infrastructure/**
    - component_id: module_common
      name: Common
      paths:
        - PhotoManager/PhotoManager.Common/**

Batch duplicates deletion
  Migration/Multi_threading_plan.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/MoveAssetsServiceDeleteAssetsBenchmarks.cs
  PhotoManager/PhotoManager.Domain/Services/MoveAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/MoveAssetsServiceTests.cs
  PhotoManager/PhotoManager.UI/appsettings.json
Due: UI, Domain

Prevent UI freeze when Display duplicates or Refresh
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelAllDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelDHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelMD5HashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowFindDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelCollapseAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetNotExemptedDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelRefreshTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelSetDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteAllLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteNotExemptedDuplicatedAssetsLabelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.axaml.cs
Due: UI

Optimize GetNotExemptedDuplicatedAssets + fix PHash deletion issue
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetNotExemptedDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
Due: UI

Optimize GetDuplicatedAssets + fix PHash selection issue
  PhotoManager/PhotoManager.Tests/AssetTestExtensions.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteAllLabelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
Due: UI

Batch CollapseAssets notifications per set
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/DuplicatedSetViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelCollapseAssetsTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/DuplicatedAssetViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
Due: UI

Use array instead of list for duplicates workflow
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IFindDuplicatedAssetsService.cs
  PhotoManager/PhotoManager.Domain/Services/FindDuplicatedAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelAllDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelDHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelMD5HashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowFindDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelCollapseAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetNotExemptedDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelRefreshTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelSetDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteAllLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteNotExemptedDuplicatedAssetsLabelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.axaml.cs
Due: UI, Application, Domain

Improve UI tests
  PhotoManager/PhotoManager.Tests/AvaloniaTestSetup.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ThumbnailsUserControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ViewerUserControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowKeyDownTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MessageDialogWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/SyncAssetsWindowTests.cs
Due: none

⚗️ Improve UI tests (#106)
  PhotoManager/PhotoManager.Tests/AvaloniaTestSetup.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ThumbnailsUserControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ViewerUserControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowKeyDownTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MessageDialogWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/SyncAssetsWindowTests.cs
Due: none

Update dependencies
  PhotoManager/Directory.Packages.props
Due: none

Update PHashes since Magick.NET update
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

Fix remaining PHash tests
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/Services/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
Due: none

Keep Magick.NET-Q16-AnyCPU to v14.14.0
  PhotoManager/Directory.Packages.props
Due: none

Disable NuGetAudit
  PhotoManager/Directory.Build.props
Due: none

⬆️ Update dependencies (#107)
  PhotoManager/Directory.Build.props
  PhotoManager/Directory.Packages.props
Due: none

Upgrade NSubstitute to v6
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowKeyDownTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/Services/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SettingsViewModelTests.cs
Due: none

🏗️ Upgrade NSubstitute to v6 (#109)
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowKeyDownTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/Services/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SettingsViewModelTests.cs
Due: none

Upgrade System.Reactive to v7
  PhotoManager/Directory.Packages.props
Due: none

🏗️ Upgrade System.Reactive to v7 (#110)
  PhotoManager/Directory.Packages.props
Due: none

Fix desktop infos
  PhotoManager/PhotoManager.UI/Assets/Info.plist
  PhotoManager/PhotoManager.UI/Assets/PhotoManager.desktop
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
Due: UI

Update MacOs and Linux release pipelines
  .github/workflows/release-linux.yml
  .github/workflows/release-macos.yml
Due: none

Try fix icon display
  PhotoManager/PhotoManager.UI/Assets/Info.plist
  PhotoManager/PhotoManager.UI/Assets/PhotoManager.desktop
Due: UI

Update release pipelines
  .github/workflows/release-linux.yml
  .github/workflows/release-macos.yml
  .github/workflows/release-windows.yml
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
Due: UI

Fix MacOs gatekeeper rejecting the unsigned .app
  .github/workflows/release-macos.yml
Due: none

Fix MacOs release startup issue
  PhotoManager/PhotoManager.UI/App.axaml.cs
Due: UI

Debug startup crash release MacOs
  .github/workflows/release-linux.yml
  .github/workflows/release-macos.yml
  .github/workflows/release-windows.yml
  PhotoManager/PhotoManager.UI/Program.cs
Due: UI

Move Database location to LocalApplicationData
  .github/instructions/persistence.instructions.md
  AGENTS.md
  PhotoManager/PhotoManager.Infrastructure/PathProviderService.cs
  PhotoManager/PhotoManager.Persistence/Readme.md
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/PathProviderServiceTests.cs
  PhotoManager/PhotoManager.UI/Program.cs
  Readme.md
Due: UI, Infrastructure

Fix coverage
  PhotoManager/PhotoManager.Domain/Interfaces/IApplicationDataPathProvider.cs
  PhotoManager/PhotoManager.Infrastructure/ApplicationDataPathProvider.cs
  PhotoManager/PhotoManager.Infrastructure/InfrastructureServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Infrastructure/PathProviderService.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/InfrastructureServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ApplicationDataPathProviderTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/PathProviderServiceTests.cs
Due: Domain, Infrastructure

Fix format
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/PathProviderServiceTests.cs
Due: none

🔥 Fix MacOs app version (#112)
  .github/instructions/persistence.instructions.md
  .github/workflows/release-linux.yml
  .github/workflows/release-macos.yml
  .github/workflows/release-windows.yml
  AGENTS.md
  PhotoManager/PhotoManager.Domain/Interfaces/IApplicationDataPathProvider.cs
  PhotoManager/PhotoManager.Infrastructure/ApplicationDataPathProvider.cs
  PhotoManager/PhotoManager.Infrastructure/InfrastructureServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Infrastructure/PathProviderService.cs
  PhotoManager/PhotoManager.Persistence/Readme.md
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/InfrastructureServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ApplicationDataPathProviderTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/PathProviderServiceTests.cs
  PhotoManager/PhotoManager.UI/App.axaml.cs
  PhotoManager/PhotoManager.UI/Assets/Info.plist
  PhotoManager/PhotoManager.UI/Assets/PhotoManager.desktop
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
  PhotoManager/PhotoManager.UI/Program.cs
  Readme.md
Due: UI, Domain, Infrastructure

Try fix path sync issue on Unix
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.axaml.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
Due: UI, Infrastructure

Fix test
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
Due: Infrastructure

Revert right fix removed
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
Due: Infrastructure

Remove unecessary fix
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.axaml.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
Due: UI

Fix failing test + bump version
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FolderNavigationWindowTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

🔥 Fix path sync issue on Unix (#113)
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FolderNavigationWindowTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
Due: Infrastructure

Fix tests
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
Due: none
