Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false

coverage:
    precision: 2
    round: down
    range: "70..100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_ui
      name: UI
      paths:
        - PhotoManager/PhotoManager.UI/**
    - component_id: module_application
      name: Application
      paths:
        - PhotoManager/PhotoManager.Application/**
    - component_id: module_domain
      name: Domain
      paths:
        - PhotoManager/PhotoManager.Domain/**
    - component_id: module_infrastructure
      name: Infrastructure
      paths:
        - PhotoManager/PhotoManager.Infrastructure/**
    - component_id: module_common
      name: Common
      paths:
        - PhotoManager/PhotoManager.Common/**

Add Codecov config + downgrade to codecov-action@v4
  .github/workflows/build.yml
  Readme.md
  codecov.yml
Due: none

Add logs in MoveAssetsService
  PhotoManager/PhotoManager.Domain/MoveAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
Due: Domain

Add composition for Pixel in Asset
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Domain/Asset.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/Dimensions.cs
  PhotoManager/PhotoManager.Domain/Pixel.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/TablesConfig/AssetConfigs.cs
  PhotoManager/PhotoManager.Tests/CatalogAssetsAsyncAsserts.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryContainsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/Database/Storage/ObjectListStorageTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetsComparatorTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseReadObjectListTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseWriteObjectListTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/TablesConfig/AssetConfigsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/PixelSizeConverterTests.cs
  PhotoManager/PhotoManager.UI/Converters/PixelSizeConverter.cs
Due: UI, Application, Domain, Infrastructure

Init for FileName
  PhotoManager/PhotoManager.Domain/Asset.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
Due: Domain

Init for AssetCorruptedMessage and AssetRotatedMessage
  PhotoManager/PhotoManager.Domain/Asset.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
Due: Domain

Init for FolderId and Hash
  PhotoManager/PhotoManager.Domain/Asset.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryContainsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: Domain

Rename FolderId to Id in Folder class
  PhotoManager/PhotoManager.Domain/Asset.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/Folder.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/Database/Database.cs
  PhotoManager/PhotoManager.Infrastructure/TablesConfig/FolderConfigs.cs
  PhotoManager/PhotoManager.Tests/CatalogAssetsAsyncAsserts.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryContainsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryFolderHasThumbnailsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/Database/Storage/ObjectListStorageTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/TestFiles/TestBackup/v1.0/Tables/folders.db
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseDeleteThumbnailsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseFolderHasThumbnailsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseReadBlobTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseWriteBlobTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/Storage/BlobStorageTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/TablesConfig/FolderConfigsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsTests.cs
Due: Domain, Infrastructure

Set FolderId and Pixel to required in Asset
  PhotoManager/PhotoManager.Domain/Asset.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/StorageServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetsComparatorTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/TablesConfig/AssetConfigsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/FileNameConverterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/PixelSizeConverterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/TernaryConverterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
Due: Domain

Upgrade to NUnit 4
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseSetDataTablePropertiesTests.cs
Due: none

Clean up about null folder
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
Due: Infrastructure

ApplicationGetAssetsByPathTests
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationTests.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
Due: UI, Application

ApplicationGetAssetsCounterTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsCounterTests.cs
Due: none

Clean up
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
Due: none

Clean up
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
Due: none

ApplicationLoadThumbnailTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadThumbnailTests.cs
Due: none

ApplicationGetSyncAssetsConfigurationTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetSyncAssetsConfigurationTests.cs
Due: none

ApplicationSetSyncAssetsConfigurationTests
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Domain/SyncAssetsConfiguration.cs
  PhotoManager/PhotoManager.Domain/SyncAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationSetSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/SyncAssetsConfigurationTests.cs
Due: Application, Domain

Fix Count and Length for Assert about empty
  PhotoManager/PhotoManager.Tests/CatalogAssetsAsyncAsserts.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/SyncAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/Database/DatabaseTests/DatabaseDeleteOldBackupsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/SyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseDeleteOldBackupsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/Storage/BackupStorageTests.cs
Due: none

Improve Equal about byte array
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryContainsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
Due: none

ApplicationSyncAssetsAsyncTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationSyncAssetsAsyncTests.cs
Due: none

ApplicationGetDuplicatedAssetsTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailTests.cs
Due: none

ApplicationDeleteAssetsTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationDeleteAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
Due: none

ApplicationMoveAssetsTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationMoveAssetsTests.cs
Due: none

ApplicationGetAboutInformationTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAboutInformationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
Due: none

ApplicationGetInitialFolderPathTests
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetInitialFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FolderNavigationViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SyncAssetsViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI, Application

Fix line
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAboutInformationTests.cs
Due: none

ApplicationGetExemptedFolderPathTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetCatalogCooldownMinutesTests.cs
Due: none

ApplicationGetExemptedFolderPathTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetExemptedFolderPathTests.cs
Due: none

ApplicationGetSyncAssetsEveryXMinutesTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetSyncAssetsEveryXMinutesTests.cs
Due: none

ApplicationGetSubFoldersTests
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSubFoldersTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI, Application, Domain, Infrastructure

ApplicationGetRecentTargetPathsTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetRecentTargetPathsTests.cs
Due: none

ApplicationFileExistsTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationFileExistsTests.cs
Due: none

ApplicationLoadBitmapImageFromPathTests
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapImageFromPathTests.cs
Due: Application
