Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

Enable warning for rule NUnit2010
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
Due: none

⚗️ Enable warning for rule NUnit2010 (#62)
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
Due: none

Update dependencies
  PhotoManager/Directory.Packages.props
Due: none

⬆️ Update dependencies (#65)
  PhotoManager/Directory.Packages.props
Due: none

Improve some settings for config and build
  PhotoManager/.editorconfig
  PhotoManager/Directory.Build.props
Due: none

Update project version in tests
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

⚙️ Improve some settings for config and build (#66)
  PhotoManager/.editorconfig
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

Use new extension block
  PhotoManager/PhotoManager.Application/ApplicationServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Domain/DomainServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Domain/FolderExtensions.cs
  PhotoManager/PhotoManager.Tests/ConfigurationMockExtensions.cs
  PhotoManager/PhotoManager.UI/UiServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.UI/ViewModels/ViewModelExtensions.cs
Due: UI, Application, Domain

⚗️ Use new extension block (#67)
  PhotoManager/PhotoManager.Application/ApplicationServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Domain/DomainServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Domain/FolderExtensions.cs
  PhotoManager/PhotoManager.Tests/ConfigurationMockExtensions.cs
  PhotoManager/PhotoManager.UI/UiServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.UI/ViewModels/ViewModelExtensions.cs
Due: UI, Application, Domain

Add missing test case
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Tests/TestLogger.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
Due: Common

Fix tests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationMoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/TestLogger.cs
Due: none

Update Magick.NET-Q16-AnyCPU
  PhotoManager/Directory.Packages.props
Due: none

Update dependencies + fix build since .net breaking changes
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Infrastructure/InfrastructureServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/FileOperationsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FolderNavigationWindowTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/FolderExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/SyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseSetDataTablePropertiesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/TernaryConverterTests.cs
Due: Infrastructure

Update pipelines actions version
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
Due: none

⚙️ Update pipelines actions version (#71)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
Due: none

Add missing test cases
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
Due: none

Add one more test case
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
Due: none

Fix
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
Due: none

Add more logs in MoveAssetsService
  PhotoManager/PhotoManager.Domain/MoveAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
Due: Domain

Clean up
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
Due: none

Update ApplicationMoveAssetsTests
  PhotoManager/PhotoManager.Domain/MoveAssetsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationMoveAssetsTests.cs
Due: Domain

Update Magick.NET-Q16-AnyCPU to 14.11.0
  PhotoManager/Directory.Packages.props
Due: none

Improve AssetCreationService logging
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
Due: Domain

Upgrade Coverlet to v8
  PhotoManager/Directory.Packages.props
Due: none

🏗️ Upgrade Coverlet to v8 (#73)
  PhotoManager/Directory.Packages.props
Due: none

Add tests about backup file
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/Database/DatabaseTests/DatabaseWriteBackupTests.cs
  Readme.md
Due: none

Path conditions:
  UI: any of: PhotoManager/PhotoManager.UI/**
  Application: any of: PhotoManager/PhotoManager.Application/**
  Domain: any of: PhotoManager/PhotoManager.Domain/**
  Infrastructure: any of: PhotoManager/PhotoManager.Infrastructure/**
  Common: any of: PhotoManager/PhotoManager.Common/**
