Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false

coverage:
    precision: 2
    round: down
    range: "70..100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_ui
      name: UI
      paths:
        - PhotoManager/PhotoManager.UI/**
    - component_id: module_application
      name: Application
      paths:
        - PhotoManager/PhotoManager.Application/**
    - component_id: module_domain
      name: Domain
      paths:
        - PhotoManager/PhotoManager.Domain/**
    - component_id: module_infrastructure
      name: Infrastructure
      paths:
        - PhotoManager/PhotoManager.Infrastructure/**
    - component_id: module_common
      name: Common
      paths:
        - PhotoManager/PhotoManager.Common/**

Improve project linting
  .gitignore
  .vscode/settings.json
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.sln.DotSettings
Due: none

Add FormatOnPaste rule
  PhotoManager/PhotoManager.sln.DotSettings
Due: none

Tweak some settings
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.sln.DotSettings
Due: none

⚗️ Improve project linting (#56)
  .gitignore
  .vscode/settings.json
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.sln.DotSettings
Due: none

Enable lint check in pipeline
  .github/workflows/build.yml
  .gitignore
  PhotoManager/.editorconfig
Due: none

Fix missing coverage
  PhotoManager/.editorconfig
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/VisibilityConverterTests.cs
  PhotoManager/PhotoManager.UI/Converters/FileNameConverter.cs
  PhotoManager/PhotoManager.UI/Converters/FileSizeConverter.cs
  PhotoManager/PhotoManager.UI/Converters/PixelSizeConverter.cs
  PhotoManager/PhotoManager.UI/Converters/VisibilityConverter.cs
Due: UI

Use new Lock object
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
Due: Infrastructure

Use new field keyword
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseProcessViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/DuplicatedAssetViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/SyncAssetsViewModel.cs
Due: UI

Fix build warnings
  PhotoManager/.editorconfig
  PhotoManager/Directory.Build.props
Due: none

Fix TargetFramework version
  PhotoManager/Directory.Build.props
Due: none

🔥 Fix NETSDK1005 build error (NET 10 breaking change) (#60)
  PhotoManager/Directory.Build.props
Due: none

Set up PhotoManager.Benchmarks
  .gitignore
  PhotoManager/.editorconfig
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/PhotoManager.Benchmarks.csproj
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Program.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/README.md
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.slnx
Due: none

Optimize CalculateHash
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHashBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/README.md
  PhotoManager/PhotoManager.Common/HashingHelper.cs
Due: Common

Fix tests
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
Due: none

Use const instead
  PhotoManager/PhotoManager.Common/HashingHelper.cs
Due: Common

⚗️Set up PhotoManager.Benchmarks + Optimize CalculateHash (#61)
  .gitignore
  PhotoManager/.editorconfig
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHashBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/PhotoManager.Benchmarks.csproj
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Program.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/README.md
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.slnx
Due: Common

Fix coverage
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
Due: Infrastructure

Use new extension block
  PhotoManager/PhotoManager.Infrastructure/InfrastructureServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
Due: Infrastructure

Optimize StorageService
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/StorageServiceBenchmarks.cs
  PhotoManager/PhotoManager.Infrastructure/StorageService.cs
Due: Infrastructure

Move back some UT
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageMetadataServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageMetadataServiceTests.cs
Due: none

Rename IsValidGdiPlusImage
  PhotoManager/PhotoManager.Common/ExifHelper.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IImageProcessingService.cs
  PhotoManager/PhotoManager.Infrastructure/ImageProcessingService.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/ExifHelperTests.cs
Due: Domain, Infrastructure, Common

Change List to array return type in FileOperationsService
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/FileOperationsServiceBenchmarks.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IFileOperationsService.cs
  PhotoManager/PhotoManager.Domain/SyncAssetsService.cs
  PhotoManager/PhotoManager.Infrastructure/FileOperationsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/FileOperationsServiceTests.cs
Due: Domain, Infrastructure

Delete custom useless ExcludeFromCodeCoverageAttribute
  PhotoManager/PhotoManager.Infrastructure/ExcludeFromCodeCoverageAttribute.cs
  PhotoManager/PhotoManager.UI/App.xaml.cs
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.xaml.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/Controls/ViewerUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/AboutWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/FolderNavigationWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/SyncAssetsWindow.xaml.cs
Due: UI, Infrastructure

Add GlobalUsings in Benchmarks project
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHashBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/GlobalUsings.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/FileOperationsServiceBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/PathProviderServiceBenchmarks.cs
Due: none

Clean up AssetRepository + Improve DeleteAsset
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelAllDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelDHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelMD5HashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetNotExemptedDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteNotExemptedDuplicatedAssetsLabelTests.cs
Due: Infrastructure

Delete empty bin file
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: Infrastructure

Improve coverage for AssetRepository.GetAssetsByPath
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
Due: none

Improve AssetHashCalculatorService coverage
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
Due: Common

Improve Database and Storage
  PhotoManager/PhotoManager.Infrastructure/Database/ColumnProperties.cs
  PhotoManager/PhotoManager.Infrastructure/Database/DataTableProperties.cs
  PhotoManager/PhotoManager.Infrastructure/Database/Database.cs
  PhotoManager/PhotoManager.Infrastructure/Database/Diagnostics.cs
  PhotoManager/PhotoManager.Infrastructure/Database/IDatabase.cs
  PhotoManager/PhotoManager.Infrastructure/Database/Storage/BaseCsvStorage.cs
  PhotoManager/PhotoManager.Infrastructure/Database/Storage/BlobStorage.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/Database/Storage/ObjectListStorageTests.cs
Due: Infrastructure

Rename some methods
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/Database/Database.cs
  PhotoManager/PhotoManager.Infrastructure/Database/IDatabase.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsBlobFileExistsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseDeleteBlobFileTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/Database/DatabaseTests/DatabaseIsBlobFileExistsTests.cs
Due: Domain, Infrastructure

Fix test
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsBlobFileExistsTests.cs
Due: none
