Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false

coverage:
    precision: 2
    round: down
    range: "70..100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_ui
      name: UI
      paths:
        - PhotoManager/PhotoManager.UI/**
    - component_id: module_application
      name: Application
      paths:
        - PhotoManager/PhotoManager.Application/**
    - component_id: module_domain
      name: Domain
      paths:
        - PhotoManager/PhotoManager.Domain/**
    - component_id: module_infrastructure
      name: Infrastructure
      paths:
        - PhotoManager/PhotoManager.Infrastructure/**
    - component_id: module_common
      name: Common
      paths:
        - PhotoManager/PhotoManager.Common/**

Clean up
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI

Remove temp CI fix
  .github/workflows/build.yml
Due: none

AppTests + rework DI
  PhotoManager/PhotoManager.Application/ApplicationServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Application/PhotoManager.Application.csproj
  PhotoManager/PhotoManager.Domain/DomainServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Domain/PhotoManager.Domain.csproj
  PhotoManager/PhotoManager.Infrastructure/InfrastructureServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Infrastructure/PhotoManager.Infrastructure.csproj
  PhotoManager/PhotoManager.Tests/DatabaseServiceConfigurationMock.cs
  PhotoManager/PhotoManager.Tests/DatabaseServiceConfigurationMockTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/DomainServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/InfrastructureServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/UiServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.UI/App.xaml.cs
  PhotoManager/PhotoManager.UI/UiServiceCollectionExtensions.cs
Due: UI, Application, Domain, Infrastructure

Fix some tests after ViewerPosition improved
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: none

Improve ObservableAssets + Clean up
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/SyncAssetsWindow.xaml.cs
Due: UI

Remove xunit
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
Due: none

Remove System.IO.Abstractions
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
Due: none

Remove FluentAssertions
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
Due: none

⚰️ Remove unused nuGets in Test project (#34)
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
Due: none

Remove Autofac.Extras.Moq and get back Moq hidden dependency
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  Readme.md
Due: none

🏗️ Remove Autofac.Extras.Moq and get back Moq hidden dependency (#35)
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  Readme.md
Due: none

Fix tests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FolderNavigationWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: none

Improve GetSortCriteriaDescription method
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Improve UpdateAppTitle
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Remove BaseViewModel warnings
  PhotoManager/PhotoManager.UI/ViewModels/BaseViewModel.cs
Due: UI

Remove coupling between Application and BaseViewModel
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/FolderNavigationControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/DuplicatedAssetViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/DuplicatedSetViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelAllDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelDHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelMD5HashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FolderNavigationViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FolderNavigationWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowDeleteAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowFindDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowGetExemptedFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowMoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowRefreshAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowSortAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowToggleImageViewTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelCollapseAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetNotExemptedDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelRefreshTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelSetDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteAllLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteNotExemptedDuplicatedAssetsLabelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseProcessViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/DuplicatedAssetViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/SyncAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI

👷 Improve BaseViewModel (#37)
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/FolderNavigationControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/DuplicatedAssetViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/DuplicatedSetViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelAllDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelDHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelMD5HashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FolderNavigationViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FolderNavigationWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowDeleteAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowFindDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowGetExemptedFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowLoadedAndClosingTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowMoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowRefreshAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowSortAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowToggleImageViewTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelCollapseAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelGetNotExemptedDuplicatedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelRefreshTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelSetDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteAllLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteLabelTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Windows/FindDuplicatedAssetsWindw/FindDuplicatedAssetsWindowDeleteNotExemptedDuplicatedAssetsLabelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseProcessViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/DuplicatedAssetViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FindDuplicatedAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/SyncAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI

Add Directory.Packages.props
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Application/PhotoManager.Application.csproj
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Domain/PhotoManager.Domain.csproj
  PhotoManager/PhotoManager.Infrastructure/PhotoManager.Infrastructure.csproj
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
Due: UI, Application, Domain, Infrastructure, Common

Add ManagePackageVersionsCentrally
  PhotoManager/Directory.Packages.props
Due: none

⚙️ Add Directory.Packages.props (#38)
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Application/PhotoManager.Application.csproj
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Domain/PhotoManager.Domain.csproj
  PhotoManager/PhotoManager.Infrastructure/PhotoManager.Infrastructure.csproj
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
Due: UI, Application, Domain, Infrastructure, Common

Add Directory.Build.props
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Application/PhotoManager.Application.csproj
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Domain/PhotoManager.Domain.csproj
  PhotoManager/PhotoManager.Infrastructure/PhotoManager.Infrastructure.csproj
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
Due: UI, Application, Domain, Infrastructure, Common

⚙️ Add Directory.Build.props (#39)
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Application/PhotoManager.Application.csproj
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Domain/PhotoManager.Domain.csproj
  PhotoManager/PhotoManager.Infrastructure/PhotoManager.Infrastructure.csproj
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
Due: UI, Application, Domain, Infrastructure, Common

Upgrade to .NET9
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  PhotoManager/Directory.Build.props
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/StorageServiceTests.cs
  PhotoManager/PhotoManager.UI/Properties/PublishProfiles/FolderProfile.pubxml
  Readme.md
Due: UI, Common

Upgrade TargetFramework from net9.0-windows7 net9.0-windows10
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.UI/Properties/PublishProfiles/FolderProfile.pubxml
Due: UI

Fix WIC / COM decoder exceptions variations between local and CI
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/StorageServiceTests.cs
Due: Common

Rollback Magick.NET upgrade
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/StorageServiceTests.cs
Due: Common

🏗️ Upgrade to .NET9 (#40)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  PhotoManager/Directory.Build.props
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Tests/PhotoManager.Tests.csproj
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.UI/Properties/PublishProfiles/FolderProfile.pubxml
  Readme.md
Due: UI, Common

Improve Readme links
  Readme.md
Due: none

Fix anchor link issue
  Readme.md
Due: none

📝 Improve Readme links (#41)
  Readme.md
Due: none

Update Magick.NET-Q16-AnyCPU to 13.7.0
  PhotoManager/Directory.Packages.props
Due: none

Improve UserConfigurationService
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
Due: Infrastructure

Test to remove windows version
  PhotoManager/Directory.Build.props
Due: none

Fix CI
  .github/workflows/build.yml
  PhotoManager/Directory.Build.props
Due: none

Fix CI
  .github/workflows/build.yml
Due: none

Update Magick.NET-Q16-AnyCPU to 13.8.0
  PhotoManager/Directory.Packages.props
Due: none
