Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

Improve coverage
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/TernaryConverterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelSetDuplicatesTests.cs
  PhotoManager/PhotoManager.UI.Avalonia/ViewModels/ApplicationViewModel.cs
  codecov.yml
Due: none

Improve performances
  Migration/Bottleneck_analysis.md
  Migration/CROSS_PLATFORM_MIGRATION_PLAN.md
  Migration/Multi_threading_plan.md
  Migration/V3_ROADMAP.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperHeicBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHashFromFileBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateMD5HashFromFileBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/ImageMetadataServiceUpdateAssetsFilePropertiesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Persistence/SqlitePersistenceContextUpsertAssetsWithThumbnailsBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Persistence/ThumbnailPersistenceGetByFolderIdBenchmarks.cs
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IFileOperationsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IImageMetadataService.cs
  PhotoManager/PhotoManager.Infrastructure/FileOperationsService.cs
  PhotoManager/PhotoManager.Infrastructure/ImageMetadataService.cs
  PhotoManager/PhotoManager.Persistence/Repositories/ThumbnailPersistence.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/FileOperationsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateGlobalAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageMetadataServiceTests.cs
Due: Domain, Infrastructure, Common

Improve caching, allocation and make ReadCatalog parallel
  Migration/Bottleneck_analysis.md
  Migration/Multi_threading_plan.md
  Migration/V3_ROADMAP.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FindDuplicatedAssetsServiceGetDuplicatedAssetsBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/AssetRepositoryReadCatalogFilePropertiesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/FileOperationsServiceBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Persistence/SqliteConnectionFactoryConnectionStringBenchmarks.cs
  PhotoManager/PhotoManager.Infrastructure/AssetHashCalculatorService.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/FileOperationsService.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteConnectionFactory.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteConnectionFactoryTests.cs
Due: Infrastructure

Reduce bottleneck and allocations
  Migration/Bottleneck_analysis.md
  Migration/CROSS_PLATFORM_MIGRATION_PLAN.md
  Migration/Multi_threading_plan.md
  Migration/V3_ROADMAP.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperLoadBitmapImageFromPathBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetCreationServiceImageValidationBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/CatalogAssetsServiceCatalogChangeCallbackBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FindDuplicatedAssetsServiceGetDuplicatedAssetsBenchmarks.cs
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/AssetsComparator.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/CatalogChangeCallback.cs
  PhotoManager/PhotoManager.Domain/FindDuplicatedAssetsService.cs
  PhotoManager/PhotoManager.Domain/SyncAssetsService.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/FileOperationsService.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/CatalogChangeRecorder.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/SkiaImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/SyncAssetsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/SyncAssetsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/appsettings.json
Due: UI, Application, Domain, Infrastructure, Common

New bottleneck analysis + improve persitence allocation
  Migration/Bottleneck_analysis.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Persistence/SqlitePersistenceContextDeleteAssetsWithThumbnailsBenchmarks.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
Due: none

Fix coverage
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
Due: none

Format
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
Due: none

Set up CI/CD & Packaging for all OS + update AI config
  .claude/agents/code-reviewer.md
  .claude/commands/avalonia.md
  .claude/skills/avalonia/SKILL.md
  .claude/skills/refactor/SKILL.md
  .claude/skills/wpf/SKILL.md
  .github/instructions/avalonia.instructions.md
  .github/instructions/ci.instructions.md
  .github/prompts/avalonia.prompt.md
  .github/skills/avalonia/SKILL.md
  .github/skills/refactor/SKILL.md
  .github/skills/wpf/SKILL.md
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  .github/workflows/codeql-linux.yml
  .github/workflows/codeql-macos.yml
  .github/workflows/codeql-windows.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-macos.yml
  .github/workflows/release-windows.yml
  .github/workflows/release.yml
  AGENTS.md
  Migration/CROSS_PLATFORM_MIGRATION_PLAN.md
  Migration/V3_ROADMAP.md
  Readme.md
Due: none

Try fix Linux and MacOs tests
  PhotoManager/PhotoManager.Tests/CatalogAssetsAsyncAsserts.cs
  PhotoManager/PhotoManager.Tests/FileDatesHelper.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageMetadataServiceTests.cs
  PhotoManager/PhotoManager.Tests/MSBuildTask/FileDateTask.dll
Due: none

Fix ordering in FileOperationsService + first frame hash on MacOs
  PhotoManager/PhotoManager.Domain/MoveAssetsService.cs
  PhotoManager/PhotoManager.Infrastructure/FileOperationsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogFolderPipelineTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Services/SingleInstanceServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelSetDuplicatesTests.cs
Due: Domain, Infrastructure

Fix remaining failing tests on MacOs + add DS_Store to gitignore + comment upload codecov for Linux and MacOs
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .gitignore
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: none

👷 Fix MacOs CodeQL pipeline
  .github/workflows/codeql-macos.yml
Due: none

Exclude from coverage MacOs condition
  PhotoManager/PhotoManager.UI/ViewModels/ShortcutsViewModel.cs
Due: UI

Fix warnings on Avalonia auto-generated files
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.axaml.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.axaml.cs
  PhotoManager/PhotoManager.UI/Controls/ViewerUserControl.axaml.cs
  PhotoManager/PhotoManager.UI/PhotoManager.UI.csproj
  PhotoManager/PhotoManager.UI/Windows/AboutWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/ConvertAssetsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/FolderNavigationWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/MessageDialogWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/SettingsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/ShortcutsWindow.axaml.cs
  PhotoManager/PhotoManager.UI/Windows/SyncAssetsWindow.axaml.cs
Due: UI

Update dependencies
  PhotoManager/Directory.Packages.props
Due: none

Update Magick.NET-Q16-AnyCPU to v14.14
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/FindDuplicatedAssets/ApplicationGetDuplicatedAssetsThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
Due: none

Upgrade SkiaSharp to v4
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
Due: Common

Fix Linux pipeline
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
Due: Common

Validate DI + add back NuGetAudit
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.UI/App.axaml.cs
Due: UI

⚗️ Validate DI + add back NuGetAudit (#99)
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.UI/App.axaml.cs
Due: UI

Remove useless guards ThrowIfNull
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
  PhotoManager/PhotoManager.Domain/AssetConversionService.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/AssetsComparator.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/ImageMetadataService.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Persistence/Repositories/ConfigurationPersistence.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationConvertAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetConversionServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/SkiaImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetConversionServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetsComparatorTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageMetadataServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageProcessingServiceTests.cs
Due: Domain, Infrastructure, Common

⚰️ Remove useless guards ThrowIfNull (#100)
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
  PhotoManager/PhotoManager.Domain/AssetConversionService.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/AssetsComparator.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/ImageMetadataService.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Persistence/Repositories/ConfigurationPersistence.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationConvertAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetConversionServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/SkiaImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetConversionServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/AssetsComparatorTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageMetadataServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageProcessingServiceTests.cs
Due: Domain, Infrastructure, Common

Fix memory leak on detached source
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/DisposableImageTests.cs
  PhotoManager/PhotoManager.UI/Controls/DisposableImage.cs
Due: UI

⚗️ Fix memory leak on detached source (#101)
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/DisposableImageTests.cs
  PhotoManager/PhotoManager.UI/Controls/DisposableImage.cs
Due: UI

Set up pipeline settings
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IUserConfigurationService.cs
  PhotoManager/PhotoManager.Domain/Pipeline/CatalogFolderPipeline.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/EditableUserConfiguration.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/PipelineSettings.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/UserConfigurationKeys.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/ConfigurationMockExtensions.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationSaveEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogFolderPipelineTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/TestFiles/appsettings.json
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationGetEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationSaveEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/ConfigurationMockExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SettingsViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/SettingsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/SettingsWindow.axaml
  PhotoManager/PhotoManager.UI/appsettings.json
  Readme.md
Due: UI, Domain, Infrastructure

✨ Set up pipeline settings (#102)
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IUserConfigurationService.cs
  PhotoManager/PhotoManager.Domain/Pipeline/CatalogFolderPipeline.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/EditableUserConfiguration.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/PipelineSettings.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/UserConfigurationKeys.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/ConfigurationMockExtensions.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationSaveEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogFolderPipelineTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/TestFiles/appsettings.json
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationGetEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationSaveEditableConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/ConfigurationMockExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SettingsViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/SettingsViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/SettingsWindow.axaml
  PhotoManager/PhotoManager.UI/appsettings.json
  Readme.md
Due: UI, Domain, Infrastructure

Fix format
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/AssetPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/TernaryConverterTests.cs
Due: none

Path conditions:
  UI: any of: PhotoManager/PhotoManager.UI/**
  Application: any of: PhotoManager/PhotoManager.Application/**
  Domain: any of: PhotoManager/PhotoManager.Domain/**
  Infrastructure: any of: PhotoManager/PhotoManager.Infrastructure/**
  Common: any of: PhotoManager/PhotoManager.Common/**
