Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false

coverage:
    precision: 2
    round: down
    range: "70..100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_ui
      name: UI
      paths:
        - PhotoManager/PhotoManager.UI/**
    - component_id: module_application
      name: Application
      paths:
        - PhotoManager/PhotoManager.Application/**
    - component_id: module_domain
      name: Domain
      paths:
        - PhotoManager/PhotoManager.Domain/**
    - component_id: module_infrastructure
      name: Infrastructure
      paths:
        - PhotoManager/PhotoManager.Infrastructure/**
    - component_id: module_common
      name: Common
      paths:
        - PhotoManager/PhotoManager.Common/**

Fix BOM encoding
  AGENTS.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperLoadBitmapOriginalImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ExifHelperGetExifOrientationBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ExifHelperIsValidGdiPlusImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateHammingDistanceBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/HashingHelperCalculateMD5HashBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ImageHelperIsImageFileBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/VideoHelperIsVideoFileBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetDeletedFileNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetImageAndVideoNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetNewFileNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/AssetsComparatorGetUpdatedFileNamesBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/DateTimeAssetComparerCompareBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderIsParentOfBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/FolderNameBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/LongAssetComparerCompareBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/StringAssetComparerCompareBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Domain/SyncAssetsServiceGetFilesNotAlreadyBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/AssetRepositoryLookupBenchmarks.cs
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/ExifHelper.cs
  PhotoManager/PhotoManager.Common/VideoHelper.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/PersistenceServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Cache/LruCacheTests.cs
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.xaml.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/Controls/ViewerUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/AboutWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/FindDuplicatedAssetsWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/FolderNavigationWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/SyncAssetsWindow.xaml.cs
Due: UI, Infrastructure, Common

Clean up TODO in Persistence + Add tests
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Persistence/Cache/LruCache.cs
  PhotoManager/PhotoManager.Persistence/IPersistenceContext.cs
  PhotoManager/PhotoManager.Persistence/PersistenceDiagnostics.cs
  PhotoManager/PhotoManager.Persistence/PersistenceServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Persistence/Repositories/FolderPersistence.cs
  PhotoManager/PhotoManager.Persistence/Repositories/RecentPathsPersistence.cs
  PhotoManager/PhotoManager.Persistence/Repositories/SyncDefinitionsPersistence.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/ISqliteBackupService.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/ISqliteConnectionFactory.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteBackupService.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteConnectionFactory.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
  PhotoManager/PhotoManager.Tests/GlobalUsings.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Cache/LruCacheTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/PersistenceServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/AssetPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/FolderPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/RecentPathsPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/SyncDefinitionsPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/ThumbnailPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Cache/LruCacheTests.cs
Due: Infrastructure

Fully cover Persistence + update AI config
  .claude/agents/code-reviewer.md
  .claude/commands/test-persistence.md
  .claude/skills/feature/SKILL.md
  .claude/skills/persistence/SKILL.md
  .claude/skills/refactor/SKILL.md
  .github/copilot-instructions.md
  .github/instructions/persistence.instructions.md
  .github/prompts/feature.prompt.md
  .github/prompts/persistence.prompt.md
  .github/prompts/refactor.prompt.md
  .github/skills/feature/SKILL.md
  .github/skills/persistence/SKILL.md
  .github/skills/refactor/SKILL.md
  AGENTS.md
  PhotoManager/PhotoManager.Infrastructure/Database/ColumnProperties.cs
  PhotoManager/PhotoManager.Infrastructure/TablesConfig/AssetConfigs.cs
  PhotoManager/PhotoManager.Infrastructure/TablesConfig/FolderConfigs.cs
  PhotoManager/PhotoManager.Infrastructure/TablesConfig/RecentPathsConfigs.cs
  PhotoManager/PhotoManager.Infrastructure/TablesConfig/SyncAssetsDirectoriesDefinitionConfigs.cs
  PhotoManager/PhotoManager.Persistence/Readme.md
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteConnectionFactory.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Cache/LruCacheTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/AssetPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/FolderPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/ThumbnailPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteConnectionFactoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
  PhotoManager/PhotoManager.Tests/TearDownHelper.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqlitePersistenceContextTests.cs
  Readme.md
Due: Infrastructure

Migrate to AsssetRepository part 1
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/InfrastructureServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Infrastructure/OptimizedAssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetTotalFilesCountTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryBackupExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryFolderExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryUpdateTargetPathToRecentTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/TestableAssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/FileOperationsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
Due: Domain, Infrastructure

Fix AssetRepository tests + 100% coverage
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryUpdateTargetPathToRecentTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
Due: Infrastructure

Add logger in SqliteConnectionFactory
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteConnectionFactory.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryBackupExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryFolderExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryUpdateTargetPathToRecentTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/TestableAssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/AssetPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/FolderPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/RecentPathsPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/SyncDefinitionsPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/ThumbnailPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteConnectionFactoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
Due: none

Update return types for AssetRepository
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/FindDuplicatedAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetRepository.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IOptimizedAssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepositoryAdapter.cs
  PhotoManager/PhotoManager.Infrastructure/OptimizedAssetRepository.cs
  PhotoManager/PhotoManager.Persistence/IPersistenceContext.cs
  PhotoManager/PhotoManager.Persistence/Readme.md
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConstructorTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryUpdateTargetPathToRecentTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/TestableAssetRepository.cs
Due: Application, Domain, Infrastructure

Format
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/SyncAssetsVM/SyncAssetsViewModelRunProcessAsyncTests.cs
Due: none

Fix failing tests
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelAllDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelDHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelMD5HashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/FindDuplicatedAssetsWindowTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/MainWindw/MainWindowFindDuplicatesTests.cs
Due: none

Make tests passing for every machine
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Infrastructure/FileOperationsService.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationCatalogAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: Domain, Infrastructure

Improve Persistence tests
  PhotoManager/PhotoManager.Persistence/PersistenceDiagnostics.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/AssetPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/TestFiles/TestBackup/Backups/20230819.zip
  PhotoManager/PhotoManager.Tests/TestFiles/TestBackup/photomanager.db
Due: none

Create Database inside UI project instead of outside directory
  .claude/skills/test/SKILL.md
  .github/instructions/persistence.instructions.md
  .github/instructions/tests.instructions.md
  .github/skills/test/SKILL.md
  .gitignore
  AGENTS.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Infrastructure/FileOperationsServiceBenchmarks.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/PathSettings.cs
  PhotoManager/PhotoManager.Domain/UserConfigurationSettings/UserConfigurationKeys.cs
  PhotoManager/PhotoManager.Infrastructure/PathProviderService.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Persistence/Readme.md
  PhotoManager/PhotoManager.Tests/ConfigurationMockExtensions.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/TestFiles/appsettings.json
  PhotoManager/PhotoManager.Tests/Unit/ConfigurationMockExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/PathProviderServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.UI/appsettings.json
  Readme.md
Due: UI, Domain, Infrastructure

Clean up + bump version to v2
  AGENTS.md
  PhotoManager/Directory.Build.props
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/IPersistenceContext.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/IAssetPersistence.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/IFolderPersistence.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/IRecentPathsPersistence.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/ISyncDefinitionsPersistence.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/IThumbnailPersistence.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Persistence/PersistenceServiceCollectionExtensions.cs
  PhotoManager/PhotoManager.Persistence/Repositories/AssetPersistence.cs
  PhotoManager/PhotoManager.Persistence/Repositories/FolderPersistence.cs
  PhotoManager/PhotoManager.Persistence/Repositories/RecentPathsPersistence.cs
  PhotoManager/PhotoManager.Persistence/Repositories/SyncDefinitionsPersistence.cs
  PhotoManager/PhotoManager.Persistence/Repositories/ThumbnailPersistence.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteSchema.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/TestableAssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/InfrastructureServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/PersistenceServiceCollectionExtensionsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/SyncDefinitionsPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqliteConnectionFactoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/AppTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/AssetRepositoryTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Cache/LruCacheTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqlitePersistenceContextTests.cs
Due: Domain, Infrastructure

Update dependencies
  PhotoManager/Directory.Packages.props
Due: none

Improve coverage
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
Due: none

⬆️ Update dependencies (#85)
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Tests/Unit/Persistence/Sqlite/SqliteBackupServiceTests.cs
Due: none

Handle database clean up on path change
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetRepository.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/IPersistenceContext.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/IConfigurationPersistence.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/ConfigurationKeys.cs
  PhotoManager/PhotoManager.Persistence/Repositories/ConfigurationPersistence.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteSchema.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetStoredAssetsDirectoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryStoreAssetsDirectoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryVacuumTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/TestableAssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/ConfigurationPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
Due: Domain, Infrastructure

Format
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetStoredAssetsDirectoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryStoreAssetsDirectoryTests.cs
Due: none

⚗️ Handle database clean up on path change (#86)
  PhotoManager/PhotoManager.Domain/CatalogAssetsService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IAssetRepository.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/IPersistenceContext.cs
  PhotoManager/PhotoManager.Domain/Interfaces/Persistence/Repositories/IConfigurationPersistence.cs
  PhotoManager/PhotoManager.Infrastructure/AssetRepository.cs
  PhotoManager/PhotoManager.Infrastructure/ConfigurationKeys.cs
  PhotoManager/PhotoManager.Persistence/Repositories/ConfigurationPersistence.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqlitePersistenceContext.cs
  PhotoManager/PhotoManager.Persistence/Sqlite/SqliteSchema.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/CatalogAssets/CatalogAssetsServiceMultipleInstancesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetStoredAssetsDirectoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryStoreAssetsDirectoryTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryVacuumTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/TestableAssetRepository.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/Repositories/ConfigurationPersistenceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Persistence/SqlitePersistenceContextTests.cs
Due: Domain, Infrastructure

Rework BitmapHelper to use SkiaSharp instead
  Migration/Bottleneck_analysis.md
  Migration/CROSS_PLATFORM_MIGRATION_PLAN.md
  Migration/FAILED_SESSION_POSTMORTEM.md
  Migration/Multi_threading_plan.md
  Migration/V3_ROADMAP.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperHeicBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperLoadBitmapOriginalImageBenchmarks.cs
  PhotoManager/Directory.Packages.props
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/BitmapImageData.cs
  PhotoManager/PhotoManager.Common/ExifHelper.cs
  PhotoManager/PhotoManager.Common/GlobalUsings.cs
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Common/PhotoManager.Common.csproj
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/AssetCreationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ViewerUserControlTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/FindDuplicatedAssetsVM/FindDuplicatedAssetsViewModelPHashTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/SkiaImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Constants.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/ImageDataConverterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.UI/Converters/BitmapImageFactory.cs
  PhotoManager/PhotoManager.UI/Converters/ImageDataConverter.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI, Common

Fix tests
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
Due: none

Fix heic thumbnails rotation issues
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
  PhotoManager/PhotoManager.Tests/Integration/Constants.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI, Common

Improve coverage
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
  PhotoManager/PhotoManager.Common/HashingHelper.cs
  PhotoManager/PhotoManager.Common/SkiaImageData.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetHashCalculatorServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/HashingHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/SkiaImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI, Common

Fix coverage
  PhotoManager/PhotoManager.Common/BitmapHelper.cs
Due: Common

Rewrite ExifHelper + Remove last System.Windows references from non UI projects
  Migration/CROSS_PLATFORM_MIGRATION_PLAN.md
  Migration/V3_ROADMAP.md
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperHeicBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/BitmapHelperLoadBitmapOriginalImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ExifHelperIsValidGdiPlusImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Common/ExifHelperIsValidImageBenchmarks.cs
  PhotoManager/Benchmarks/PhotoManager.Benchmarks/Shared.cs
  PhotoManager/PhotoManager.Common/ExifHelper.cs
  PhotoManager/PhotoManager.Domain/AssetCreationService.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IImageProcessingService.cs
  PhotoManager/PhotoManager.Infrastructure/ImageProcessingService.cs
  PhotoManager/PhotoManager.Tests/GlobalUsings.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageMetadataServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/ImageProcessingServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ViewerUserControlTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/ExifHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/BitmapImageDataTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Converters/ImageDataConverterTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  Readme.md
Due: Domain, Infrastructure, Common

Fix coverage
  PhotoManager/PhotoManager.Common/VideoHelper.cs
  PhotoManager/PhotoManager.Domain/SyncAssetsDirectoriesDefinition.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/VideoHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/SyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/Services/SingleInstanceServiceTests.cs
  PhotoManager/PhotoManager.UI/Services/SingleInstanceService.cs
Due: UI, Domain, Common
