Repository PABERTHIER/photo-manager: changes, and which Codecov flags are due for each by the changed paths.
All: UI, Application, Domain, Infrastructure, Common

codecov.yml:

codecov:
  require_ci_to_pass: yes
  max_report_age: off

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false

coverage:
    precision: 2
    round: down
    range: "70..100"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: module_ui
      name: UI
      paths:
        - PhotoManager/PhotoManager.UI/**
    - component_id: module_application
      name: Application
      paths:
        - PhotoManager/PhotoManager.Application/**
    - component_id: module_domain
      name: Domain
      paths:
        - PhotoManager/PhotoManager.Domain/**
    - component_id: module_infrastructure
      name: Infrastructure
      paths:
        - PhotoManager/PhotoManager.Infrastructure/**
    - component_id: module_common
      name: Common
      paths:
        - PhotoManager/PhotoManager.Common/**

ApplicationLoadBitmapHeicImageFromPathTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapHeicImageFromPathTests.cs
Due: none

Clean up ApplicationGetTotalFilesCountTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetTotalFilesCountTests.cs
Due: none

Reorder Application methods
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
Due: Application

ApplicationGetRootCatalogFoldersTests
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetRootCatalogFoldersTests.cs
Due: Application

Primary ctor for Application
  PhotoManager/PhotoManager.Application/Application.cs
Due: Application

Remove SetAsWallpaper feature
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Application/IApplication.cs
  PhotoManager/PhotoManager.Domain/Interfaces/IUserConfigurationService.cs
  PhotoManager/PhotoManager.Domain/WallpaperStyle.cs
  PhotoManager/PhotoManager.Infrastructure/UserConfigurationService.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/UserConfigurationServiceTests.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
  Readme.md
Due: UI, Application, Domain, Infrastructure

Realign database path in tests
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailNotDuplicatesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailPartTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailResolutionTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/FindDuplicatedAssets/FindDuplicatedAssetsServiceThumbnailThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/MoveAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Domain/SyncAssetsServiceTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryAddFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryBackupExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryConcurrentAccessTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryContainsThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryDeleteFolderTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryFolderExistsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryFolderHasThumbnailsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetCataloguedAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFolderByPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryGetSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryHasChangesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryIsAssetCataloguedTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryLoadThumbnailTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveCatalogTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveRecentTargetPathsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositorySaveSyncAssetsConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryUpdateTargetPathToRecentTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Infrastructure/AssetRepositoryTests/AssetRepositoryWriteBackupTests.cs
Due: none

ViewModelExtensionsTests
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ViewModelExtensionsTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ViewModelExtensions.cs
Due: UI

SyncAssetsViewModelTests
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationSyncAssetsAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/SyncAssetsVM/SyncAssetsViewModelGetProcessConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/SyncAssetsVM/SyncAssetsViewModelRunProcessAsyncTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/SyncAssetsVM/SyncAssetsViewModelSetProcessConfigurationTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SyncAssetsViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/BaseProcessViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/SyncAssetsViewModel.cs
Due: UI

SyncAssetsWindowTests
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/SyncAssetsWindowTests.cs
  PhotoManager/PhotoManager.UI/Windows/SyncAssetsWindow.xaml.cs
Due: UI

Clean up BaseProcessViewModel
  PhotoManager/PhotoManager.UI/ViewModels/BaseProcessViewModel.cs
Due: UI

CalculateTotalFilesCount + SetExecutionTime + CalculateGlobalAssetsCounter
  PhotoManager/PhotoManager.Application/Application.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/Application/ApplicationGetTotalFilesCountTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateGlobalAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateTotalFilesCountTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetExecutionTimeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/Windows/SyncAssetsWindowTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI, Application

Clean up
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Improve ApplicationViewModelCatalogAssetsTests and ApplicationViewModelNotifyCatalogChangeTests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: none

LoadBitmapHeicImageFromPath + LoadBitmapImageFromPath
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Application/ApplicationLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Common/BitmapHelperTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Infrastructure/StorageServiceTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Missing IT tests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
Due: none

ApplicationViewModelGetSubFoldersTests + clean up
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.xaml.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/Enums/SortCriteria.cs
Due: UI

Remove temp code
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

GetCatalogCooldownMinutes + GetExemptedFolderPath + GetRootCatalogFolders + GetSyncAssetsEveryXMinutes
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetCatalogCooldownMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetExemptedFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSyncAssetsEveryXMinutesTests.cs
Due: none

DateTimeAssetComparer + LongAssetComparer + StringAssetComparer
  PhotoManager/PhotoManager.Domain/Comparers/DateTimeAssetComparer.cs
  PhotoManager/PhotoManager.Domain/Comparers/LongAssetComparer.cs
  PhotoManager/PhotoManager.Domain/Comparers/StringAssetComparer.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/Comparers/DateTimeAssetComparerTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/Comparers/LongAssetComparerTests.cs
  PhotoManager/PhotoManager.Tests/Unit/Domain/Comparers/StringAssetComparerTests.cs
Due: Domain

SortableObservableCollection + tests
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/SortableObservableCollectionTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/SortableObservableCollection.cs
Due: UI

Rework ObservablesAssets
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

ApplicationViewModelChangeAppModeTests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

ApplicationViewModelRemoveAssetsTests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Fix tests since RemoveAssets optimisation
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
Due: none

ApplicationViewModelGoToAssetTests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

ApplicationViewModelGoToPreviousAssetTests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
Due: none

ApplicationViewModelGoToNextAssetTests
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Add UT tests for NotifyCatalogChange
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationViewModelTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Move Folder delegates into separated files
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateGlobalAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateTotalFilesCountTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetCatalogCooldownMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetExemptedFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSyncAssetsEveryXMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetExecutionTimeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.UI/Controls/FolderNavigationControl.xaml.cs
  PhotoManager/PhotoManager.UI/Models/FolderAddedEventHandler.cs
  PhotoManager/PhotoManager.UI/Models/FolderRemovedEventHandler.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Reorder Props and rename private fields
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Rename LastSelectedFolder to MoveAssetsLastSelectedFolder
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateGlobalAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateTotalFilesCountTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetCatalogCooldownMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetExemptedFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSyncAssetsEveryXMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetExecutionTimeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/ViewModels/FolderNavigationViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/FolderNavigationWindow.xaml.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI

Rename CurrentFolder to CurrentFolderPath
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateGlobalAssetsCounterTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCalculateTotalFilesCountTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelCatalogAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetCatalogCooldownMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetExemptedFolderPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSubFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetSyncAssetsEveryXMinutesTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetExecutionTimeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI

Improve CurrentFolderPath + Update SetAssets method
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Improve ApplicationViewModel
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
Due: UI

Rename currentObservableAssets to currentObservableAsset
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGetRootCatalogFoldersTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Integration/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelChangeAppModeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToNextAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelGoToPreviousAssetTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapHeicImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelLoadBitmapImageFromPathTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelNotifyCatalogChangeTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelRemoveAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSetAssetsTests.cs
  PhotoManager/PhotoManager.Tests/Unit/UI/ViewModels/ApplicationVM/ApplicationViewModelSortAssetsByCriteriaTests.cs
Due: none

ThumbnailsUserControlTests
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ThumbnailsUserControlTests.cs
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml
  PhotoManager/PhotoManager.UI/Controls/ThumbnailsUserControl.xaml.cs
  PhotoManager/PhotoManager.UI/ViewModels/ApplicationViewModel.cs
  PhotoManager/PhotoManager.UI/Windows/MainWindow.xaml.cs
Due: UI

ViewerUserControlTests
  PhotoManager/PhotoManager.Tests/Integration/UI/Controls/ViewerUserControlTests.cs
  PhotoManager/PhotoManager.UI/Controls/ViewerUserControl.xaml.cs
Due: UI
